*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  width: 95%;
  margin: auto;
}

header{
  /* border: 1px solid red; */
  /* height: 10rem; */
  background: url('assets/bg-hero-mobile.svg') #ECF9FF no-repeat;
}

nav{
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  /* margin-top: 1rem;
  margin-bottom: 5rem; */
  margin: 1rem 0 4rem 0;
}

nav img{
  width: 5rem;
}

nav button{
  background-color: #FEFFFF;
  border-radius: 18px;
  width: 32%;
  padding: 5px;
  border: white;
  box-shadow: -1px 2px 10px 1px grey;

}
/* End  of Nav */
/* Hero-section starts here */
.hero-section{
  /* border: 2px solid black; */
  /* margin-top: 80rem; */
  text-align: center;
  /* width: 75%; */
  /* margin: auto; */
  /* padding: 0 2rem 2rem ; */
  /* line-height: 2rem; */
}

.hero-content h2{
  /* text-align: center; */
  width: 75%;
  margin: auto;
  line-height: 2rem;

}

.hero-content p{
  width: 70%;
  margin: auto;
  /* text-align: center; */
  /* border: 1px solid blue; */
  margin-top: 1.5rem;
  line-height: 1.3rem;
}
.hero-content > button{
  /* margin-top: 1rem; */
  margin: 2rem 0 3rem 0;
  height: 2.5rem;
  border-radius: 10rem;
  width: 60%;
  border: none;
  color: #FFFFFF;
  background-color: hsl(322, 100%, 66%);

}

.hero-section img{
  width: 19rem;
  margin-bottom: 3rem;
}
/* cards section */
.cards img{
  /* border: 1px solid black; */
  width: 100%;
}
.cards{
  border: 1px solid red;
  padding: 3rem;
  text-align: center;
  box-shadow: -1px 1px 5px rgb(226, 225, 225);
  border-radius: 10px;
  margin-top: 1rem;
}
main{
  margin-top: 2.5rem;
}
/* to put spaces at the top and bottom of an indivitual tag */
.cards h2{
  padding-top: 2rem;
  padding-bottom: 1rem;
}
/* to put spaces inbtn text */
.cards p{
  line-height: 1.5rem;
  color: hsl(208, 11%, 55%);
}
.card-3{
  padding: 3rem;
  text-align: center;
 
}